.footer-left-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 100px;
    margin-left: 233px;
    min-height: 187px;
    border-right:0.001rem solid rgb(128, 125, 125);
    @media screen and (max-width: 400px) {
        margin: 0 0 0 20%;
       border-right: none;
       border-bottom: 0.001rem solid rgb(128, 125, 125);
       padding: 0;
    }
    .__content{
        @media screen and (max-width: 400px) {
           padding-top: 30%;
        }
        a{
            img{
                height: 70px;
            }
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        padding-top: 100px;
    }
    p {
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
    }
}